* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #000000;
}

#store-container {
  width: auto;
  height: 100%;
  padding-top: 30px;
  padding-left: 25px;
}

#store-item-container {
  width: 200px;
  height: 245px;
  float: left;
  margin-right: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 6px 10px 0px rgba(48, 48, 48, 0.3);
  background-color: #fff000;
  cursor: pointer;
  margin-bottom: 50px;
}

#store-item-pic {
  width: 200;
  height: 200px;
  /* border: 1px solid black; */
  box-shadow: 0px 3px 3px 0px rgba(48, 48, 48, 0.3);
  /* margin-top: 15px; */
  background-size: cover;
  background-repeat: no-repeat;
}

#item-name {
  width: 100%;
  height: fit-content;
  margin-top: 13.5px;
  font-family: "Arial Narrow";
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}
